{% extends 'firstPage/baseFirstPage.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('CSS/posts/baseBlog.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}{% endblock %}




{% block body %}

  <div class="containerPost">
    <section class="postBlog">
        
        <div class="hitsBlog"><h6><i class="far fa-eye"></i> {{hits}}</h6></div>
        <div class="postTitle"><h2>{{topic}}</h2></div>
        <div class="postAuthor">
          <h5>
            
             <i class="fas fa-user-tie"></i> Mariusz Najwer | <i class="far fa-clock"></i>
            {{date|date("d.m.Y", "Europe/Berlin")}} 
            {% if date.diff( date("now") ).format('%a') == 0  %}
              (dzisiaj)
            {% elseif date.diff( date("now") ).format('%a') == 1 %}
              (wczoraj)
            {% else %}
              ({{date.diff( date("now") ).format('%a')}} dni temu)
            {% endif %}
          </h5>
        </div>
        
        {% include path %}


    </section>
  </div>

{% endblock %}


